.navbar{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
    position: relative;
    background-color: #fff;
}

.nav-logo{
    display: flex;
    /* width: 20%; */
    /* margin-left: 4rem; */
}

.nav-links{
    color: #000;
    display: flex;
    /* width: 60%; */
    gap: 1rem;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    /* margin-right: 4rem; */
}

.nav-links p{
    color: #000;
    font-size: 16px;
    font-weight: 400;
}


.nav-links p:focus{
    font-weight: 700;
}

@media only screen and (max-width: 935px) {
.navbar{
    display: none;
}
}